@import "~styles/constants";

.main-block {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
  min-height: 500px;
  height: 50vh;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

  .main-block__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0) center center no-repeat;
    background-size: cover;
  }

  .main-block__skin {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
  }

  .main-block__title {
    position: relative;
    max-width: 50%;
    margin: $padding;
    font-size: 2rem;
    line-height: 1;
    color: #000;
  }

  .main-block__time {
    position: relative;
    margin: $padding;
    font-family: Circe;
    font-size: 1rem;
    line-height: 1.25;
    color: #555;
  }
}

.event__documents .doc__item {
  margin: $padding / 4 0;
}

.event-info {
  padding: $padding / 2;
  box-sizing: border-box;
}

.event-info__video {
  display: inline-block;
  float: right;
  width: 50%;
  padding: $padding / 2 0 $padding / 2 $padding / 2;
  box-sizing: border-box;
}