/.bundle

.DS_Store
**/node_modules/**
**/npm-debug.log

/.env*
!/.env.example

/log/*
!/log/.keep
/tmp
.idea
/db/sphinx
/config/test*
/config/development*

/public
!/public/.keep

# Ignore pow config.
/.powenv
/.powrc
/.powconfig
.ruby-version
/vendor/assets/bower_components

Procfile

.env
.env.*
!.env.example

.DS_Store

/id_rsa*
