@font-face {
  font-family: 'CHC';
  src: url('../assets/fonts/Co_Headline_Corp.woff') format('woff');
}

@font-face {
  font-family: 'CHCLight';
  src: url('../assets/fonts/Co_Headline_Corp_Light.woff') format('woff');
}

@font-face {
  font-family: 'Circe';
  src: url('../assets/fonts/Circe.woff') format('woff');
}

@font-face {
  font-family: 'BoingRegular';
  src: url('../assets/fonts/BoingRegular.woff') format('woff');
}

@font-face {
  font-family: 'GloberBlack';
  src: url('../assets/fonts/Glober_Black.woff') format('woff');
}

@font-face {
  font-family: 'GloberBlackItalic';
  src: url('../assets/fonts/Glober_Black_Italic.woff') format('woff');
}

@font-face {
  font-family: 'GloberBold';
  src: url('../assets/fonts/Glober_Bold.woff') format('woff');
}

@font-face {
  font-family: 'GloberBoldItalic';
  src: url('../assets/fonts/Glober_Bold_Italic.woff') format('woff');
}

@font-face {
  font-family: 'GloberBook';
  src: url('../assets/fonts/Glober_Book.woff') format('woff');
}

@font-face {
  font-family: 'GloberBookItalic';
  src: url('../assets/fonts/Glober_Book_Italic.woff') format('woff');
}

@font-face {
  font-family: 'GloberHeavy';
  src: url('../assets/fonts/Glober_Heavy.woff') format('woff');
}

@font-face {
  font-family: 'GloberHeavyItalic';
  src: url('../assets/fonts/Glober_Heavy_Italic.woff') format('woff');
}

@font-face {
  font-family: 'GloberLight';
  src: url('../assets/fonts/Glober_Light.woff') format('woff');
}

@font-face {
  font-family: 'GloberLightItalic';
  src: url('../assets/fonts/Glober_Light_Italic.woff') format('woff');
}

@font-face {
  font-family: 'GloberRegular';
  src: url('../assets/fonts/Glober_Regular.woff') format('woff');
}

@font-face {
  font-family: 'GloberRegularItalic';
  src: url('../assets/fonts/Glober_Regular_Italic.woff') format('woff');
}

@font-face {
  font-family: 'GloberSemiBold';
  src: url('../assets/fonts/Glober_SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'GloberSemiBoldItalic';
  src: url('../assets/fonts/Glober_SemiBold_Italic.woff') format('woff');
}

@font-face {
  font-family: 'GloberThin';
  src: url('../assets/fonts/Glober_Thin.woff') format('woff');
}

@font-face {
  font-family: 'GloberThinItalic';
  src: url('../assets/fonts/Glober_Thin_Italic.woff') format('woff');
}

@font-face {
  font-family: 'GloberXBold';
  src: url('../assets/fonts/Glober_xBold.woff') format('woff');
}

@font-face {
  font-family: 'GloberXBoldItalic';
  src: url('../assets/fonts/Glober_xBold_Italic.woff') format('woff');
}
