@import "~styles/constants";

.event__item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  padding: $padding / 4;
  box-sizing: border-box;

  & + .event__item {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
  }

  .item__title {
    font-family: Circe;
    font-size: 1rem;
  }

  .item__time {
    margin-top: 0.25rem;
    font-family: Circe;
    font-size: 0.8rem;
    color: #555;
  }
}